*{
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 500;
  font-style: normal; 
}

body {
  background: url(/image/to.jpg) no-repeat center center / cover;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 50%;
}

.glass-container {
  width: 90%;
  max-width: 300px;
  height: 370px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 191, 255, 0.075);
  box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-bottom: 2px solid rgba(40, 40, 40, 0.35);
  border-right: 2px solid rgba(40, 40, 40, 0.35);
  box-sizing: border-box;
}

.no-margin {
  margin: 0 !important;
}

.big {
  font-size: 1.5em;
}

i {
  margin-right: px;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeOut 1.5s 2.5s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading__logo {
  opacity: 0;
  animation: logo_fade 2s 0.5s forwards;
  width: 75%;
}

@keyframes logo_fade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  60% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
  }
}
